<a href="/home">ir a home</a>
<table style="width:100%">
    <tr>
        <th></th>
        <th>Datos</th>

    </tr>
    <tr>
        <td>Argumentos de entrada</td>
        <td>{{data.entryArguments}}</td>
    </tr>
    <tr>
        <td>Nombre de la plataforma</td>
        <td>{{data.platformName}}</td>
    </tr>
    <tr>
        <td>Version de Node</td>
        <td>{{data.nodeVersion}}</td>
    </tr>
    <tr>
        <td>Memoria total reservada</td>
        <td>{{data.rss}}</td>
    </tr>
    <tr>
        <td>path de ejecucion</td>
        <td>{{data.path}}</td>
    </tr>
    <tr>
        <td>process id</td>
        <td>{{data.processId}}</td>
    </tr>
    <tr>
        <td>Carpeta del proyect</td>
        <td>{{data.directory}}</td>
    </tr>
     <tr>
        <td>cpus</td>
        <td>{{data.cpus}}</td>
    </tr>

</table>